button {
	font-family: Comic Sans MS;
}

.content {
	text-align: center;
	margin: auto;
}

#canvas-container {
   width: 100%;
   text-align: center;
   margin: auto;
}

canvas {
   display: inline;
}
