button {
	font-family: Comic Sans MS;
}

canvas {
   	display: inline;
}

html {
 	scroll-behavior: smooth;
}

#maze {
  padding-top: 24px; 
  width: 100%;
  text-align: center;
}

.content {
  text-align: center;
}

.sidebar {
  font-family: Comic Sans MS;
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #007399;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  border: none;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: #007399;
  color: black;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  font-size: 32px;
  color: #c0c0c0;
  display: block;
}

.sidebar a:hover {
  color: black;
  background-color: #0099cc;
}


.mazeButton {
  border: none;
  width: 255px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #4dd2ff;
}

.mazeButton:disabled {
  color: lightgrey;
}

.mazeButton:hover:enabled {
  background-color: #4dd2ff;
  color: white;
}

.mazeButton:hover:disabled {
  background-color: #b3ecff;
}